body {
    text-align: center;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#wrapper {
    display: block;
    border: 1px red solid;
    width:50%;
    margin:0px auto;
}
#header {
    border: 2px #a2a2a2 solid;
}
#content {
    width: 100%;
    border: 2px black solid;
    float: left;
}
#sidebar {
    /*width: 23%;*/
    border: 2px #a2a2a2 solid;
    float: right;
}
#delimiter {
    clear: both;
}
#footer {
    border: 2px #a2a2a2 solid;
}


#header > h1 {
    text-align: right;
    padding-right: 10px;
    position: relative;
    display: block;
    font-weight: normal;
    font-family: Verdana;
}


.post .wp-caption {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border: 1px green solid;
}

.post .wp-caption .wp-caption-text {
	margin-top: 7px;
	margin-bottom: 0px;
}


.title {
    font-size: 17pt;
    /*font-family: verdana;*/
    font-weight: bold;
    text-align: left;
    padding-left: 2px;
    margin-top: 30px;
    margin-bottom: 0px;
    color: black;
    display: inline-block;


    float: left;
}


div.postInfo {
	font-size: 7pt;
	text-align: left;
	padding-left: 10px;
	margin: 0 0 0 0;
	margin-top: 45px;	

	color: gray;

	float: left;
	display: inline-block;
	vertical-align: bottom;
}



div.postContent > p {
	font-size: 14pt;
	margin: 0 0 0 0;
	padding-left: 15px;

	clear: both;
}





/* RANDOM STUFF REEQUIRED, I THINK */
img.alignright {
    float:right;
    margin:0 0 1em 1em
}

img.alignleft {
    float:left;
    margin:0 1em 1em 0
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a img.alignright {
    float:right;
    margin:0 0 1em 1em
}

a img.alignleft {
    float:left;
    margin:0 1em 1em 0
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}