#colophon.site-footer {
	margin-top: 50px;
	
	.site-info {
		width: 100%;
	}

	.copyright {
		display: inline-block;
		font-size: 7pt;
		color: gray;
		padding: 2%;
		padding-right: 4%;
		padding-left: 4%;
		text-align: right;
		width: 100%;
	}
}
